body{
    background-color: cornsilk;
    position: relative;
    /* margin: 10px; */
}
.header_date{
    margin-top: 20px;
    border-left: 5px solid #9933FF;
}
.header_date_p{
    color: #FF6666; 
    font-size: 20px; 
    font-weight: bold;
    
    padding-left: 10px;
}

hr{
    border: 1px dashed #dbdbdb;
}
/* 标题 */
.title_stytle{
    font-size: 18px;
    color : #333333;
    font-weight: bold;
    margin: 10px 0px;
    /* padding-left: 10px; */
}
/* 内容 */
.content_stytle{
    font-size: 16px;
    color : #666666;
    margin: 10px 0px;
    text-indent: 1.5em;
}
li{
    font-size: 16px;
    color : #666666;
}
.orginal_href{
    position: relative;
    width: 100%;
    height: 30px;
    /* background-color: black; */
}
.orginal_href>div{
    position: absolute;
    background-color: aqua;
    display: inline-block;
    right: 10px;
}
a{
    color: #6699FF;
    text-decoration: none;
}

.listyle{
    font-weight: bold;
    font-size: 14;
}

.sitck_div{
    position: fixed;
    bottom: 30;
    right: 20;
}
.sitck_div button{
    color:rgb(47, 120, 255);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 0px;
    background-image: url("./assets/upimage.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 200;
}
